body {
  background-color: #eeeded;
}

hr {
  border-color: #cdd0cb;
  background-color: #eeeded;
  border-style: dotted none none;
  border-width: 5px;
  width: 4%;
}

h1 {
  color: #66bfbf
}

h3 {
  color: #66bfbf
}
p {
  white-space: nowrap;
}
